* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.lato-strong {
    font-weight: 700;
}

.selectable {
    cursor: pointer;
}

.thumbnail {
    border: 2px solid lightgrey;
    border-radius: 5px;
}